@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: auto;
        box-sizing: border-box;
    }

    body {
        background: linear-gradient(#acabb3);
        color: white
    }

    /* Секция прогресса */
    .progress_bar {
        border: 1px solid red;
        height: 20px;
    }
}
